# HUD dependencies

git /extensions/HUD           https://github.com/OpenEngineDK/extensions-HUD.git
git /extensions/CairoResource https://github.com/OpenEngineDK/extensions-CairoResource.git

darcs-dev /extensions/CairoResource	fh.daimi.au.dk:/users/cgd/code/extensions/CairoResource
darcs-dev /extensions/HUD		fh.daimi.au.dk:/users/cgd/code/extensions/HUD


