# HUD dependencies

git /extensions/HUD           https://github.com/OpenEngineDK/extensions-HUD.git
git /extensions/CairoResource https://github.com/OpenEngineDK/extensions-CairoResource.git

git-dev /extensions/CairoResource	git@github.com:OpenEngineDK/extensions-CairoResource.git
git-dev /extensions/HUD		git@github.com:OpenEngineDK/extensions-HUD.git


